<style>
    .selected{
        background-color:#CCCCCC;
    }
    .loader_in_css{top:20%;left:45%;position:absolute;z-index:1}
</style>
<div class="loader_in_css" ng-show="loader"><img src="images/loader.GIF"/></div>
<form
        name="AddNewContactForm"
        class="form-horizontal"
        role="form"
        novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Add Product</h3>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <input
                    class="pull-left form-control"
                    type="text"
                    style="width:250px;"
                    ng-model="searchGrid"
                    placeholder="Start typing to filter by serial ..."/>
            <select class="pull-right form-control "
                    name="ProductType"
                    style="width:250px;"
                    ng-model="productsType"
                    ng-options="product.name for product in productsTypeList">
                <option  value="">Select Product Type</option>
            </select>
        </div>
        <div class="table-responsive" style="margin-top:10px;height:200px;overflow-y: scroll;">

            <table class="table table-bordered" >
                <thead >
                <tr>
                    <th>Serial Number</th>
                    <th>Product Line</th>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="productList in AddProdctGridList |filter:searchGrid |filter:{productGroupId:productsType.id}:true" ng-click="Selected_ProductLine(productList)" ng-class="{selected : productList.serialNumber === idSelectedVote}" style="cursor:pointer">
                    <td >{{productList.serialNumber}} </td>
                    <td>{{productList.productLineName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" style="margin-top:10px;">
            <table class="table" >
                <tbody>
                <tr  ng-repeat="products in prodJson" style="border-top:0px;" >
                    <td >{{products.serialNumber}} </td>
                    <td>{{products.productLineName}}</td>
                    <td><a style="cursor:pointer;" id="remove_listitem" ng-click="remove_line_item($index)">remove</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-sm-12">
            <div class="col-sm-6"><button class="btn btn-primary pull-left" type="button" ng-click="addComponent()">Add Component</button></div>
            <div class="col-sm-6"><button class="btn btn-warning pull-right" type="button" ng-click="saveandClose()">Save and close</button></div>
        </div>
        <div class="col-sm-12" style="margin-top:5px;">
            <div class="col-sm-6"><button class="btn btn-primary pull-left" type="button" ng-click="AddProductnotListed()">Add Product not listed</button></div>
            <div class="col-sm-6"><button class="btn btn-warning pull-right" type="button" ng-click="saveandAnother()">Save and add another</button></div>
        </div>

    </div>
</form>